<ion-content>


  <topo-login title="Login"></topo-login>


<form [formGroup]="loginForm" (submit)="login()">

<ion-item>
  <ion-icon name="mail" color="if" slot="start"></ion-icon>
  <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="True"></ion-input>
</ion-item>

<ion-item>
  <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
  <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
</ion-item>

<ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button> 

</form>

</ion-content> 

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci Minha Senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium">Cadastre-se</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>