<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="contasForm" (submit)="registraConta()">

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autofocus="True"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-radio-group formControlName="tipo">

      <ion-item>
        <ion-label>Pagar</ion-label> 
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>

    </ion-radio-group>
    
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button> 
    
  </form>

</ion-content>
