<ion-header>
  <ion-toolbar>
    <ion-title>pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item *ngFor="let conta of listaContas">

      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R$ {{conta.valor}}</h3>
      </ion-label>

      <ion-item slot="end" name="trash" (click)="remove(conta)" ></ion-item>

    </ion-item>

  </ion-list> 

</ion-content>
